<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application>
        <meta-data
            android:name="firebase_app_check_debug_token"
            android:value="true" />
    </application>
</manifest>
